<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fausto.contactslist">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application>
        <activity
            android:name=".HiltTestActivity"
            android:exported="false" />
    </application>
</manifest>